<footer>
  <div class="container-fluid d-flex">
    <div class="col-3">
      <a routerLink="">Лого</a>
      <p><br>© 2021</p>
      <p>Название компании</p>
      <fa-icon [icon]="['fab', 'cc-visa']" class="fa-2x"></fa-icon>
      <fa-icon [icon]="['fab', 'cc-mastercard']" class="fa-2x"></fa-icon>
      <br>
      <a href=""><fa-icon [icon]="['fab', 'facebook']" class="fa-2x"></fa-icon></a>
      <a href=""><fa-icon [icon]="['fab', 'instagram']" class="fa-2x"></fa-icon></a>
      <a href=""><fa-icon [icon]="['fab', 'telegram']" class="fa-2x"></fa-icon></a>
    </div>
    <div class="col-3">
      <h3>Каталог</h3>
      <ul>
        <li><a routerLink="">Ноутбуки</a></li>
        <li><a routerLink="">Телефоны</a></li>
        <li><a routerLink="">Прочее</a></li>
        <li><a routerLink="">И еще что-то</a></li>
      </ul>
    </div>
    <div class="col-3">
      <h3>Клиентам</h3>
      <ul>
        <li><a routerLink="">О нас</a></li>
        <li><a routerLink="">Оплата и доставка</a></li>
        <li><a routerLink="">Обмен и возврат</a></li>
        <li><a routerLink="">Контактная информация</a></li>
        <li><a routerLink="">Условия использования</a></li>
      </ul>
    </div>
    <div class="col-3">
      <h3>Контактная информация</h3>
      <p><a href="+38 090 000 0000">+38 090 000 0000</a><br><a href="mailto:test@gmail.com">test@gmail.com</a><br><br>Одесса
      </p>
    </div>
  </div>
</footer>
