<carousel [itemsPerSlide]="itemsPerSlide"
          [singleSlideOffset]="singleSlideOffset"
          [interval]="$any(false)"
          [startFromIndex]="0"
          [indicatorsByChunk]="true" class="news_carousel">
  <slide *ngFor="let slide of slides">
    <div class="card mb-2" style="max-width: 420px;">
      <div class="row no-gutters">
        <div class="col-4 news_image">
          <img [src]="slide.image" alt="image slide" class="card-img">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title"><a routerLink="">{{slide.title}}</a>
            </h5>
            <p class="card-text">{{slide.text}}</p>
            <p class="card-text"><small class="text-muted">03.07.2021</small></p>
          </div>
        </div>
      </div>
    </div>
  </slide>
</carousel>
