<app-header></app-header>
<div>
  <carousel [isAnimated]="true">
    <slide>
      <img src="https://storge.pic2.me/c/1360x800/376/55a131e54f1d4.jpg" alt="first slide"
           style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://wallpaperaccess.com/full/2817799.jpg"
           alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img
        src="https://www.wallpaperbetter.com/wallpaper/777/30/505/dandelion-macro-high-definition-1080P-wallpaper.jpg"
        alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>

<div class="container-fluid sale">
  <h1>Распродажа</h1>
  <app-sale></app-sale>
</div>
<div class="container-fluid new">
  <h1>Новинки</h1>
  <app-new></app-new>
</div>
<!--Надо еще рекомендации и просмотренное-->
<!--Категории-->
<div class="container-fluid all_category d-flex">
  <div class="item col-2">
    <a routerLink=""><img src="https://1-m.com.ua/image/cache/catalog/c/125997163926-240x240.webp"
                          alt=""><span>Звук</span></a>
    <ul>
      <li><a routerLink="">Cras justo odio</a></li>
      <li><a routerLink="">Dapibus ac facilisis in</a></li>
      <li><a routerLink="">Morbi leo risus</a></li>
      <li><a routerLink="">Porta ac consectetur ac</a></li>
      <li><a routerLink="">Vestibulum at eros</a></li>
    </ul>
  </div>
  <div class="item col-2">
    <a routerLink=""><img src="https://1-m.com.ua/image/cache/catalog/c/125997163926-240x240.webp"
                          alt=""><span>Звук</span></a>
    <ul>
      <li><a routerLink="">Cras justo odio</a></li>
      <li><a routerLink="">Dapibus ac facilisis in</a></li>
      <li><a routerLink="">Morbi leo risus</a></li>
      <li><a routerLink="">Porta ac consectetur ac</a></li>
      <li><a routerLink="">Vestibulum at eros</a></li>
    </ul>
  </div>
  <div class="item col-2">
    <a routerLink=""><img src="https://1-m.com.ua/image/cache/catalog/c/125997163926-240x240.webp"
                          alt=""><span>Звук</span></a>
    <ul>
      <li><a routerLink="">Cras justo odio</a></li>
      <li><a routerLink="">Dapibus ac facilisis in</a></li>
      <li><a routerLink="">Morbi leo risus</a></li>
      <li><a routerLink="">Porta ac consectetur ac</a></li>
      <li><a routerLink="">Vestibulum at eros</a></li>
    </ul>
  </div>
  <div class="item col-2">
    <a routerLink=""><img src="https://1-m.com.ua/image/cache/catalog/c/125997163926-240x240.webp"
                          alt=""><span>Звук</span></a>
    <ul>
      <li><a routerLink="">Cras justo odio</a></li>
      <li><a routerLink="">Dapibus ac facilisis in</a></li>
      <li><a routerLink="">Morbi leo risus</a></li>
      <li><a routerLink="">Porta ac consectetur ac</a></li>
      <li><a routerLink="">Vestibulum at eros</a></li>
    </ul>
  </div>
  <div class="item col-2">
    <a routerLink=""><img src="https://1-m.com.ua/image/cache/catalog/c/125997163926-240x240.webp"
                          alt=""><span>Звук</span></a>
    <ul>
      <li><a routerLink="">Cras justo odio</a></li>
      <li><a routerLink="">Dapibus ac facilisis in</a></li>
      <li><a routerLink="">Morbi leo risus</a></li>
      <li><a routerLink="">Porta ac consectetur ac</a></li>
      <li><a routerLink="">Vestibulum at eros</a></li>
    </ul>
  </div>
  <div class="item col-2">
    <a routerLink=""><img src="https://1-m.com.ua/image/cache/catalog/c/125997163926-240x240.webp"
                          alt=""><span>Звук</span></a>
    <ul>
      <li><a routerLink="">Cras justo odio</a></li>
      <li><a routerLink="">Dapibus ac facilisis in</a></li>
      <li><a routerLink="">Morbi leo risus</a></li>
      <li><a routerLink="">Porta ac consectetur ac</a></li>
      <li><a routerLink="">Vestibulum at eros</a></li>
    </ul>
  </div>
</div>
<div class="container-fluid news">
  <h1>Новости</h1>
  <app-news></app-news>
</div>
<div class="container-fluid mb-4 advantages">
  <div class="d-flex justify-content-around text-center">
    <div class="f-column" data-info="6">
      <img alt="Бесплатная <br/> доставка" src="https://1-m.com.ua/image/catalog/svg/free_shipping.svg" width="70">
      <p>Бесплатная <br> доставка</p>
    </div>
    <div class="f-column" data-info="6">
      <img alt="Оплата удобным <br> для Вас <br> способом" src="https://1-m.com.ua/image/catalog/svg/conv_payment.svg"
           width="70">
      <p>Оплата удобным <br> для Вас <br> способом</p>
    </div>
    <div class="f-column" data-info="8">
      <img alt="Гарантийное и <br/> послегарантийное <br/> обслуживание"
           src="https://1-m.com.ua/image/catalog/svg/warranty_service.svg" width="70">
      <p>Гарантийное и <br> послегарантийное <br> обслуживание</p>
    </div>
    <div class="f-column" data-info="8">
      <img alt="Гарантированный <br/> возврат и обмен" src="https://1-m.com.ua/image/catalog/svg/returns.svg"
           width="70">
      <p>Гарантированный <br> возврат и обмен</p>
    </div>
    <div class="f-column" data-info="111">
      <img alt="Бонусы <br/> за покупку" src="https://1-m.com.ua/image/catalog/svg/bonuses.svg" width="70">
      <p>Бонусы <br> за покупку</p>
    </div>
    <div class="f-column" data-info="222">
      <img alt="Всегда на связи" src="https://1-m.com.ua/image/catalog/svg/always_online.svg" width="70">
      <p>Всегда на связи</p>
    </div>
  </div>
</div>

<div class="container-fluid about mt-4 mb-4">
  <h1>О магазине</h1>
  <p><strong>«Первый музыкальный гипермаркет»</strong> - это крупнейший в Украине музыкальный онлайн – магазин. Наша
    компания&nbsp;представляет широкий ассортимент музыкальных инструментов, музыкального оборудования, светового
    оборудования, звукового оборудования, оборудования для DJ, видео оборудования, коммутационного оборудования, а так
    же оборудования для спецэффектов.<br>
    <strong>Сегодня «1-M.COM.UA»</strong> - музыкальный интернет – гипермаркет, где представлен широчайший ассортимент
    товаров (более 40 000 тысяч товаров) способный удовлетворить даже самого притязательного покупателя.<br>
    <strong>У нас есть все:</strong> от музыкальных комплектующих и аксессуаров (кабели, разъемы, струны, медиаторы)
    до эксклюзивных и редких товаров (рояли, скрипки, гитары).<br>
    <strong>Наша миссия:</strong> Мы заполняем этот мир эмоциями, музыкой и светом. Мы развиваем успешный и
    эффективный бизнес, предлагая нашим клиентам широчайший ассортимент музыкальных инструментов, звукового и
    светового оборудования и высокий уровень сервиса.<br>
    <strong>Программа лояльности и гибкая система скидок:&nbsp;</strong>Все наши покупатели становятся участниками
    накопительной программы «Первого музыкального гипермаркета».<br>
    <strong>Персональный менеджер:</strong> За покупателем закрепляется персональный менеджер, который консультирует и
    оказывает помощь на всех этапах сделки и после нее.<br>
    <strong>Круглосуточное формирование заказов:&nbsp;</strong>Для удобства покупателей наш центральный склад
    формирования заказов работает круглосуточно.</p>
</div>
<app-footer></app-footer>
